@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-header h1 {
  color: whitesmoke;
}

.App-content {
  /*Nothing for now'*/
}

.observationFormContainer {
  align-content: center;
}

.App-locations {
  background-color: whitesmoke;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 325px;
}

.App-observations {
  background-color: whitesmoke;
  position: absolute;
  top: 100px;
  right: 50px;
  width: 450px;
  height: 763px;
  overflow: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: 
  linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
  url('./Static/img/clouds-country-countryside-461797.jpg');
  background-attachment: fixed;
  background-size: cover; 
  overflow: hidden;
}
